{% load static %}
{% block content %}
<title>Forget Password</title>
<link rel="stylesheet" href="{% static 'page/css/forgetpass.css' %}">

<div class="container1">
    <div class="left-container2">
        <img src="{% static 'images/forget.png' %}" alt="Forget Password Image">
    </div>
    <div class="right-container2">
        <div class="contentv">
            <h1>Forgot Password?</h1>
            <p>Please enter your email address to reset your password.</p>
            <form>
                <div class="input__group2">
                    <input class="resetEm" type="email" required /> 
                    <label for="email" class="label-email">Email</label>
                </div>
                <button type="submit">Reset Password</button>
            </form>
            <p class="back-to-login">Remember your password? <a href="{% url 'login' %}">Login here</a></p>
        </div>
    </div>
</div>

    {% endblock %}
