/* Basic styling */
body {
    font-family: 'Times New Roman', Times, serif;
}

header {
    background-color: #fff; /* Setting background color to white */
    color: #333; /* Setting text color to dark */
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
    display:flex;
}

/* Styling for the profile button */
.profile-button {
    background-color: #543786; /* Setting background color */
    color: #fff; /* Setting text color to white */
    border: none;
    padding: 8px 18px; /* Adjusted padding */
    border-radius: 5px;
    cursor: pointer;
    width: 70px;
    text-align: center;
    margin-right: 50px; /* Increased margin */
    font-size: 20px;
}
/* Styling for the home button */

.Home {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #183153;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    cursor: pointer;
    border: none;
  }
  
  .Home:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: #ffd401;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
  }
  
  .Home:hover::after {
    right: auto;
    left: 0;
    width: 100%;
  }
  
  .Home span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 18px 25px;
    color: #fff;
    font-size: 1.125em;
    font-weight: 700;
    letter-spacing: 0.3em;
    z-index: 20;
    transition: all 0.3s ease-in-out;
  }
  
  .Home:hover span {
    color: #183153;
    animation: scaleUp 0.3s ease-in-out;
  }
  
  @keyframes scaleUp {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(0.95);
    }
  
    100% {
      transform: scale(1);
    }
  }

/* Styling for the courses button */
.Courses {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #183153;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    cursor: pointer;
    border: none;
  }
  
  .Courses:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: #ffd401;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
  }
  
  .Courses:hover::after {
    right: auto;
    left: 0;
    width: 100%;
  }
  
  .Courses span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 18px 25px;
    color: #fff;
    font-size: 1.125em;
    font-weight: 700;
    letter-spacing: 0.3em;
    z-index: 20;
    transition: all 0.3s ease-in-out;
  }
  
  .Courses:hover span {
    color: #183153;
    animation: scaleUp 0.3s ease-in-out;
  }
  
  @keyframes scaleUp {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(0.95);
    }
  
    100% {
      transform: scale(1);
    }
  }


/* Styling for the search bar */
.InputContainer {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    padding-left: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
  }
  
  .input {
    width: 170px;
    height: 100%;
    border: none;
    outline: none;
    font-size: 0.9em;
    caret-color: rgb(255, 81, 0);
  }
  
  .labelforsearch {
    cursor: text;
    padding: 0px 12px;
  }
  
  .searchIcon {
    width: 13px;
  }
  
  .border {
    height: 40%;
    width: 1.3px;
    background-color: rgb(223, 223, 223);
  }
  
  .micIcon {
    width: 12px;
  }
  
  .micButton {
    padding: 0px 15px 0px 12px;
    border: none;
    background-color: transparent;
    height: 40px;
    cursor: pointer;
    transition-duration: .3s;
  }
  
  .searchIcon path {
    fill: rgb(114, 114, 114);
  }
  
  .micIcon path {
    fill: rgb(255, 81, 0);
  }
  
  .micButton:hover {
    background-color: rgb(255, 230, 230);
    transition-duration: .3s;
  }

/* Dropdown button */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #543786; /* Setting background color */
    color: #fff; /* Setting text color to white */
    border: none;
    padding: 8px 18px; /* Adjusted padding */
    border-radius: 5px;
    cursor: pointer;
    min-width: 160px;
    height: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
    border-radius: 5px;
    top: 100%; /* Adjusted to appear below the button */
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #543786; /* Change background color on hover */
}

.dropbtn i {
  margin-left: 5px; /* Adjust this value according to the space you want */
}

 /*style for notification-icon*/
.Notification {
    background: none;
    border: none;
    padding: 15px 15px;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .Notification:hover {
    background: rgba(170, 170, 170, 0.13);
    transition: 0.5s;
  }
  
  .Notification svg {
    color: #000000;
  }