@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --primary-color: #D4E0F0;
  --secondary-color: #717775;
  --text-dark: #333333;
  --text-light: #767268;
  --extra-light: #f3f4f6;
  --white: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family:'Times New Roman', Times, serif
}

.container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.container__left {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: var(--primary-color);
}

.container__left img {
  width: 100%;
  max-width: 400px;
}

.container__left h2 {
  font-size: 1.75rem;
  font-weight: 500;
  color: var(--white);
}

.container__left p {
  max-width: 500px;
  font-size: 1.2rem;
  text-align: center;
  color: var(--white);
}

.container__right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  width: 100%;
  max-width: 350px;
  display: grid;
  gap: 1rem;
}

.logo-remove {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px; /* Adjust the width as needed */
  z-index: 999; /* Ensure it's above other content */
  margin: 20px; /* Adjust margin as needed */
}

.candy {
  position: absolute;
  top: 0px;
  right: -40px;
  width: 110px; /* Adjust the width as needed */
  height: 109px;
  z-index: 999; /* Ensure it's above other content */
}

.header {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--secondary-color);
  text-align: center;
}

form {
  display: grid;
}

.input__group {
  position: relative;
  margin: 1rem 0;
  display: flex;
}

.input__group1{
  position: relative;
  margin: 0.5rem 0;
  display: flex;
  margin-top: 6px;
  margin-left: 16px;
}

.forgot-password{
  margin-top: -7px;
}
.forgot-password a {
  color: rgb(161, 208, 224); /* Change color to match the "Remember me" color */
}

.remember-me {
  display: flex;
  margin-left: -15px;
  margin-top: -37px;
}

.remember-me input[type="checkbox"] {
  margin-right: 5px; /* Adjust as needed */
}
.remember-me label {
  color: rgb(161, 208, 224); /* Change color to match the "Forgot password?" color */
}
.spacer {
  flex-grow: 1; /* Allow the spacer to grow and push "Forgot password?" to the right */
}

form label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 0.9rem;
  color: var(--secondary-color);
  pointer-events: none;
  transition: 0.3s;
}

form input {
  padding: 0.75rem 0; /* Adjust the top and bottom padding as needed */
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--secondary-color);
  line-height: 1px;
}

form input:not(:placeholder-shown) ~ label,
form input:focus ~ label {
  top: 0;
  font-size: 0.8rem;
}


form p {
  text-align: right;
  margin-bottom: 1.5rem;
}

form p a {
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: none;
}

form button {
  padding: 0.75rem 3rem;
  max-width: fit-content;
  margin: auto;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--white);
  background-color: var(--primary-color);
  cursor: pointer;
  transition: 0.3s;
}

form button:hover {
  background-color: var(--primary-color);
}

.divider {
  position: relative;
  isolation: isolate;
  text-align: center;
  width: 100%;
  max-width: 200px;
  margin: 2rem auto;
}

.divider::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--secondary-color);
  z-index: -1;
}

.divider span {
  padding: 0 1rem;
  color: var(--secondary-color);
  background-color: var(--white);
}

.google__login {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
  margin-bottom: 2rem;
}

.google__login img {
  max-width: 25px;
}

.google__login span {
  font-size: 1rem;
  font-weight: 500;
  color: var(--secondary-color);
  transition: 0.3s;
}

.google__login:hover span {
  color: var(--primary-color);
}

.create__account {
  color: var(--secondary-color);
  text-align: center;
}

.create__account a {
  color: var(--primary-color);
}

@media (width < 788px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }

  .container__left,
  .container__right {
    min-height: 100vh;
  }
}

/*...*/

#togglePasswordIcon {
  position: absolute;
  right: 10px; /* Adjust as needed */
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: var(--primary-color);
}
